form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  display: flex;
  justify-content: space-between;
}

.input input {
  padding: 0 7px;
  border: 1px solid gray;
  border-radius: 10px;
}

.submit {
  margin-top: 10px;
  padding: 10px;
  background: none;
  border: none;
  border-radius: 10px;
  outline: 1px solid gray;
  cursor: pointer;
}

.submit:hover {
  outline: 2px solid black;
}

.submit:active {
  outline: 2px solid gray;
}