.autoImg {
  border: 2px solid gray;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 5px gray;
}

.title {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.title p {
  font-weight: bold;
}

.color {
  display: flex;
  gap: 5px
}

.palette {
  width: 19px;
  border: 2px solid gray;
}

.price {
  display: flex;
  gap: 5px;
  align-items: end;
}

.cost {
  font-size: 20px;
  font-weight: bolder;
}

.menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.menuButton:hover {
  outline: 2px solid black;
}

.menuButton:active {
  outline: 2px solid gray;
}

.menuButton img {
  width: 20px;
  height: 20px;
}